* {
  font-family: 'Roboto', sans-serif;
}

.App {
  background-position: top;
  margin: 0px;
  padding: 0px 10px 0px 10px;
  text-align: center;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.logo-styles {
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

}

.homepage-style {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: 10px;
}

.profile-page-style {
  width: -webkit-fill-available;
  padding: 10px 0px 100px 0px;
}

.home-container{
  display: grid;
  margin-top: 25%;
  justify-content: center;
}

.home-container p {
  margin: 20px
}

.link-style {
  background-color: white;
  color: black;
  padding: 11px;
  border-radius: 7px;
  text-align: center;
  font-size: inherit;
  text-decoration: none;
  margin: 7px;
}

.profile-style {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding-top: 100px;
}

.profile-style a {
  text-decoration: none;
}

.input-style {
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  color: white;
  background-color: black;
  border-radius: 7px;
  font-size: inherit;
  margin-top: 100px;
  border-width: 5px;
  width: 287px;
}

.input-style input:hover { 
  color:#fff 
}

.input-profile {
  margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: black;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
}

.input-profile input:hover {
  background-color: purple;
  color: white;
}

.edit-profile label {
  font-size: medium;
  padding: 2px;
  width: min-content;
  border-radius: 4px;
  box-shadow: inset 0 0 47px purple;
  list-style: none;
  text-decoration: none;
  list-style-type: none !important;
}

.edit-profile input {
  list-style: none;
  text-decoration: none;
  list-style-type: none !important

}

.edit-profile input:focus {
  /* outline: thin dotted; */
  border: 0;
}

.upload-container {
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
}

.createad-edit-profile {
display: grid;

}

.createad-edit-profile label {
  font-size: large;
  padding: 10px;
  width: -moz-min-content;
  border-radius: 8px;
  box-shadow: inset 0 0 100px purple;
  height: 21px;

}

.createad-edit-profile input {
  list-style: none;
  text-decoration: none;
  list-style-type: none !important
}

.createad-edit-profile input:focus {
  border: 0;

}

.profile-style h1, h2, ul, p {
  padding: 1px;
  margin: auto;
  list-style-type: none;
  display: inline-block;
}

.ul-container {
  display: grid;
  text-align: left;
  width: fit-content;
}

.ul-container p {
  margin: 0px;
  display: flex;
  align-items: center;
}

.profile-container {
  display: flex;
  justify-content: space-around;

}

.align-profile {
  justify-content: space-between;
  height: 100px;
  margin-bottom: 40px;

}

.profile-user {
  margin: 3px;
  /* text-align: left; */
  font-size: x-large;
}

.adverts-styles {
  display: grid;
  justify-content: center;
  text-align: left;
  margin-top: 10px;
}

.adverts-styles input {
  font-size: larger;
  padding-left: 10px;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  width: 325px;
  height: 40px;
  border-radius: 8px;
  -moz-box-shadow:    inset 0 0 8px #000000;
  -webkit-box-shadow: inset 0 0 8px #000000;
  box-shadow:         inset 0 0 8px #dbdbdb;
  display: grid;
}

.signup-styles {
  display: grid;
  justify-content: center;
  text-align: left;
  margin-top: 150px;
  margin-top: 66px;
}

.signup-styles form {
  display: grid;
  margin-left: 150px
}

.signup-styles input {
  font-size: larger;
  padding-left: 10px;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 40px;
  border-radius: 8px;
  -moz-box-shadow:    inset 0 0 8px #000000;
  -webkit-box-shadow: inset 0 0 8px #000000;
  box-shadow:         inset 0 0 8px #dbdbdb;
  display: grid;
}

.createad-styles {
  display: grid;
  justify-content: center;
  text-align: left;

}

.created-styles form {
  display: grid;
  margin-left: 150px
}

.createad-styles input, .createad-styles textarea {
  font-size: large;
  padding-left: 10px;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 30px;
  border-radius: 8px;
  -moz-box-shadow:    inset 0 0 8px #000000;
  -webkit-box-shadow: inset 0 0 8px #000000;
  box-shadow:         inset 0 0 8px #dbdbdb;
  display: grid;  
}

.createad-description {
  display: grid;
  justify-content: center;
  text-align: left;
  margin-top: 150px;
  margin-top: 5px;  
}

.createad-description textarea {
  font-family: roboto;
  font-size: large;
  padding-left: 10px;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 8px;
  box-shadow: inset 0 0 8px #dbdbdb;
}

.createad-description-mail {
  display: grid;
  justify-content: center;
  text-align: left;
  margin-top: 150px;
  margin-top: 5px; 
}

.createad-description-mail textarea{
  font-size: large;
  padding-left: 10px;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 8px;
  box-shadow: inset 0 0 8px #dbdbdb;
}

.createad-price {
  font-size: large;
  display: block;
  justify-content: left;
  text-align: left;
  margin-top: 10px;
  margin-left: 11px;
  width: fit-content;
}

.createad-price input, .createad-price textarea  {
  font-size: large;
  padding-left: 10px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: auto;
  width: 92px;
  height: 30px;
  border-radius: 8px;
  box-shadow: inset 0 0 8px #dbdbdb;
  display: grid;
}

textarea:active {
  color: purple; 
}

textarea:focus {
  outline: none;
  border: solid purple;
  box-shadow: 0 0 10px #719ECE;  
}

input:active { 
  color: purple; 
}
input:focus {
  outline: none;
  border: solid purple;
  box-shadow: 0 0 10px #719ECE;
}

.signup-container{
  display: grid;
  justify-content: center
}

.img-profile {
  flex: 2;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  

}
.img-createad {
  flex: 2;
  width: 147px;
  height: 118px;
  border-radius: 8px;
  margin-top: 8px;

}

.photo-input {
  width: 0.1px;
  height: 0.1px;
  z-index: -1;
  
}

.map-styles {
  height: 170px;
  width: 170px;
  margin-top: 18px;
}

.article-map-styles {
  height: 300px;
  width: 360px;
}

.App-link {
  color: #61dafb;
}

.adverts-container{
  padding-bottom: 50px;
}

.tool-bar {
  height: 55px;
  display: -webkit-inline-flex;
  bottom: 0;
  left: 0;
  background-color: white;
  width: -webkit-fill-available;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  justify-content: space-around;

}

.tool-bar img {
  margin-top: 8px;
}


.article-container{
  background-color:rgb(46, 45, 45);
  margin-top: 12px;
  display:grid;
  text-decoration: none;
}

.article-container a {
  text-decoration: none;

}

.article-product-price {
  color: white;
  display: contents;
  justify-content: space-between;
  margin: 1px;

}

.article-product-price h2{
  font-weight: 400;
  margin: 0px;
  font-size: 20px;
}

.article-product-price h3{
  color: white;
  font-weight: 600;
  margin: 0px;
  font-size: 24px;
}

.articles-img {
  max-width: -webkit-fill-available;
  max-width: -webkit-fill-available;
  padding: 15px;
  margin: 0px 15px 15px 15px;
  background-color: white;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
}

.article-img {
  max-width: -webkit-fill-available;
  max-width: -webkit-fill-available;
  padding: 10px;
  margin: 0px 0px 5px 0px;
  background-color: white;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
}

.article-map {
  display: flex;
}

.article-description {
  color:white;
  padding: 0px 20px 20px 20px;

}

.articles-head {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin: 14px 27px 0px 15px;

}

.articles-head h3 {
  padding-top: 8px;

}

.articles-head h2 {
  max-width: 300px;
  background-color: white;
  height: 27px;
  padding-top: 15px;
  margin: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: black;
  width: 200px;
  text-align: left;
  padding-left: 16px;
}

.article-head {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin: 5px 27px 0px 0px;

}

.article-head h3 {
  padding-top: 8px;

}

.article-head h2 {
  max-width: 300px;
  background-color: white;
  height: 27px;
  padding-top: 15px;
  margin: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: black;
  width: 200px;
  text-align: left;
  padding-left: 16px;
}

.advert-search {
  display:flex;
  justify-content: flex-end;

}

.advert-search button {
  position: absolute;
  padding-top:14px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
  outline:none;
}

.chat-product {
  display: -webkit-flex;
  display: grid;
  justify-content: grid;
  text-align: left;
  margin-right: auto;
  width: fit-content;
}

.chat-product h1 {
  display: flex;
  justify-content: space-around;
  margin: 10px 5px 0px 5px;
}

.chat-product a {
  border-radius: 4px;
  text-decoration: none;
  margin: 0px 5px 3px 4px;
  color: black;
  background-color: purple;
  text-align: center;
  font-size: 23px;
}

.upload-input-style {
  margin: 34px 13px 20px auto;
  height: 40px;
  color: white;
  background-color: black;
  border-radius: 7px;
  font-size: inherit;
  width: 180px;
  box-shadow: 0px -6px 36px 0px purple;

}

.price-container{
  display: flex
}

.mail-styles {
  color:white;
}

.advice-name h1 {
  margin: 20px 0px 17px 0px;
  font-weight: inherit;
  padding-top: 10px;
}